.App{
  text-align: center;
}
.black{
  background: #000;
}
.white{
  background: #ffff;
}
table{
  border: 1px solid #ccc;
  margin: 20px auto;

}
td{
  height: 5px;
  width: 5px;
  border: 1px solid #ccc;
}